@page "/Adminstrator/Orders/{id}"
@model ModShop.RazorPages.Pages._Adminstrator.Orders.OrderDetailsModel
@{
}

<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title">
            جزئیات سفارش شماره @Model.Order.OrderNumber
        </h3>

    </div>

    <div class="card-body">

        <table class="shopping-cart-table table rtl" id="printTable">
            <thead>
                <tr>
                    <th>محصول</th>
                    <th></th>
                    <th class="text-center">قیمت</th>
                    <th class="text-center">تعداد</th>
                    <th class="text-center">قیمت کل</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Order.Items)
                {
                    <tr>

                        <td class="thumb"><img class="w-65px rounded-sm" src="@p.Product.Image" alt=""></td>
                        <td class="details">
                            <p>@p.Product.Title</p>
                            <ul>
                                @if (p.Product.Brand != null)
                                {
                                    <li><span>برند: @p.Product.Brand.Title</span></li>
                                }
                                @if (p.Product.Size != null)
                                {
                                    <li><span>اندازه: @p.Product.Size.Title</span></li>
                                }
                                @if (p.Product.Color != null)
                                {
                                    <li><span>رنگ: @p.Product.Color.Title</span></li>
                                }
                            </ul>
                        </td>

                        <td class="price text-center">
                            <strong>@p.Price تومان</strong>
                            @if (p.Discount > 0)
                            {
                                <br><del class="font-weak"><small>@(p.Price - p.Discount) تومان</small></del>
                            }
                        </td>
                        <td class="qty text-center">@p.Quantity</td>
                        <td class="total text-center"><strong class="primary-color">@(p.Price * p.Quantity) تومان</strong></td>
                        <td class="text-right"></td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <th class="empty" colspan="3"></th>
                    <th>مجموع قیمت(@Model.Order.Items.Sum(x => x.Quantity)) کالا</th>
                    <th colspan="2" class="sub-total">@Model.Order.TotalPrice تومان</th>
                </tr>
                <tr>
                    <th class="empty" colspan="3"></th>
                    <th>روش ارسال</th>
                    <td colspan="2">ارسال رایگان</td>
                </tr>
                <tr>
                    <th class="empty" colspan="3"></th>
                    <th>تخفیف</th>
                    <th colspan="2" class="total">@Model.Order.Discount تومان</th>
                </tr>

                <tr>
                    <th class="empty" colspan="3"></th>
                    <th>مالیات</th>
                    <th colspan="2" class="total">@Model.Order.Tax تومان</th>
                </tr>


                <tr>
                    <th class="empty" colspan="3"></th>
                    <th>قابل پرداخت</th>
                    <th colspan="2" class="total">@(Model.Order.TotalPrice + Model.Order.Tax - Model.Order.Discount) تومان</th>
                </tr>
            </tfoot>
        </table>

    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-lg-6">
                <button id="print-btn" class="btn btn-primary mr-2">چاپ</button>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        function printData() {
            var divToPrint = document.getElementById("printTable");

            newWin = window.open("/Orders/Print");
            setTimeout(function () {
                console.log(newWin.document);
                newWin.document.getElementById('print-container').innerHTML = divToPrint.outerHTML;
                setTimeout(function () {
                    newWin.print();
                    newWin.close();
                }, 1000);
            }, 500);

        }

        $('#print-btn').on('click', function () {
            printData();
        });
    </script>
}